$background-color: black;
$font-family: "Amatic SC";
$font-color: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin flex_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex_column_variable($aling){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: $aling;
}

@mixin tablet {
    @media (min-width: 576px) {
        @content;
}
}
@mixin desktop {
    @media (min-width: 1080px) {
        @content;
    }
}


body {
    font-family: $font-family;
    background-color: $background-color;
    letter-spacing: normal;
    overflow-x: hidden;
    color: $font-color;
    
    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: $font-color;
        &:hover {
            color: red;
        } 
    }
    h2 {
        align-self: flex-start;
        padding-left: 0.3em;
    }
    p {
    margin: 0.5em;
    }
    }