.img__carusel {
    height: 450px;
    @include tablet(){
        height: 600px;
}
}
.parrafo__carusel {
    font-size: 0.7rem;
    align-self: center;
    text-align: justify;
    @include tablet() {
    font-size: 1rem;
    }
}
.titulo_carusel {
    text-align: left;
} 