footer {
    @include flex_row;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    gap: 1em;

        .redes__footer {
        @include flex_row;
        gap: 1em;
        }
    
        .img-redes {
            border-radius: 50%;
        width: 30px;
        &:hover {
            box-shadow: $box-shadow;
            filter: invert(1) hue-rotate(45deg);
        }
        @include tablet() {
            margin-top: 1em;
             width: 50px;
        }
         }
    @include tablet() {
        .contacto_footer {
            font-size: 2rem;
            margin-right: 0.5em;
        }  
    }
}