header {
    @include flex_row;
    margin: .5em;
    
        .lengua {
          height: 100px;
          &:hover {
            transform: scale(1.1);
            }
          @include tablet{
            height: 150px;
          }
        }
        
        .nav__header {
        @include flex_column_variable(flex-start);
        font-size: 1.3rem;
        @include tablet() {
            padding-left: 0.5em;
            font-size: 2.3rem;    
        }
        @include desktop(){
        & {
        @include flex_row;
        gap: 22px;
        }
        font-size: 3rem;
        }
        }
    
        h1 {
        font-size: 2.5rem;
        text-align: center;
        line-height: 120%;
        text-shadow: $text-shadow;
        @include tablet(){
            font-size: 3.8rem;
        }
        }
        .h1__stones {
        font-size: 4.4rem;
        animation-name: latido;
        animation-duration: 5s;
        animation-iteration-count: infinite;

        @include tablet(){
            font-size: 6.7rem;  
        }
        }
    }
