.main__index {
    @include flex_column_variable(center);

    .titulo_invisible {
        visibility: hidden;
        font-size: .01rem;
    }

    .noticias__destacadas {
       @include flex_row;
       flex-wrap: wrap;
        background-color: white;
        color: black;
        width: 85vw;
        gap: 20px;
        margin-top: 1.2em;
        box-shadow: $box-shadow;

        .tarjeta__notis {
            width: 250px;
            height: 350px;
            overflow: hidden;
            font-weight: 700;
        
            h3 {
                margin-top: 0.2em;
                margin-left: 0.2em;
                font-weight: bold;
                font-size: 1rem;
                @include desktop {
                  font-size: 2rem;
                }
                }

            @include tablet(){
                width: 210px;
                height: 350px;
                font-size: .9rem;
            @include desktop {
                width: 400px;
                height: 480px;
                font-size: 1.5rem;
            }
            }
             .img__destacada {
              width: 100%;
            height: 40%;
              overflow: hidden;
            }
            p {
                font-size: 1rem;
                @include tablet(){
                  font-size: .9rem;  
                }
                @include desktop {
                    font-size: 1.4rem;
                }
            }
        }  
    }

    .secccion__notis-secundarias {
    @include flex_row;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    gap: 19px;
    flex-wrap: wrap;

        .noticia__secundaria {
        width: 250px;
        height: 350px;
        overflow: hidden;
        font-weight: 700;

            .img__secundaria {
            width: 100%;
            height: 50%;
            @include tablet(){
                height: 35%;
            }
            }
            .titulo-noti-secundaria {
            font-size: 1rem;
            margin: 0.2em 0.2em 0.2em 0.2em;
            @include desktop {
                font-size: 1.5rem;
            }
            }
        @include tablet() {
            width: 170px;
            height: 380px;
            overflow: hidden;
            font-weight: 700;
            font-size: 1rem;
        }
        @include desktop(){
            width: 300px;
            height: 450px;
            overflow: hidden;
            font-weight: 700;
            font-size: 1.2rem;

        }
            
        }
    }
}