.historia {
    @include flex_row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: .7em;

    .article_historia {
        @include flex_column_variable(center);
        box-shadow: $box-shadow;
        background-color: white;
        border-radius: 5px;
        width: 300px;
        height: 325px;

        animation-name: animacion_historia;
        animation-duration: 3s;
        animation-fill-mode: both;

        animation-delay: 0s;
        @for $i from 2 through 5 {
    
        &:nth-child(#{$i}) {
       animation-delay: $i * 0.5s;
        }
        }
        &:nth-child(even) {
            animation-direction: reverse; // Establece la dirección de la animación como "reverse" en las cajas pares
          }
          &:nth-child(3n) {
            animation-direction: normal; // Establece la dirección de la animación como "normal" en las cajas cuyo índice es múltiplo de 3
          }
        
        .subtitulos_historia {
            color: black;
            margin-top: .1em;
            align-self: flex-start;
            padding-left: 1.3em;
            }

        .img_historia {
            width: 85%;
            box-shadow: 2px 2px 3px black;
            }

        .caja_parrafo {
            height: 100px;
            overflow: hidden;
            margin-bottom: .3em;
            margin-top: .3em;
            }

        p {
            color: black;
            padding-left: 1em;
            padding-right: 1em;
            overflow: hidden;

            @include desktop {
            &:hover {
            translate: 0 -370px;
            transition: 40s linear;
            }

            }
          }
        .btn_vermas {
            color: white;
            background-color: rgb(176, 4, 4);
            border-radius: 3px;
            font-size: 1em;
            padding: .09em;
            margin-bottom: .2em;
            margin-right: .2em;

            &:hover {
                box-shadow: $box-shadow;
            }

            @include desktop {
            display: none;
            }
        }
    }
    @include desktop {
        gap: 25px;
            
    }
}