.historia {
    @include flex_column_variable(flex-start);

    .subtitulos_historia {
    margin-top: .3em;
    align-self: flex-start;
    padding-left: 0.5em;
    }

    .article_historia {
        @include flex_column_variable(center);
   
        .img_historia {
        width: 85%;
        }
    }
}