/*---------------------------------PARÁMETROS GENERALES ----------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Amatic SC", sans-serif;
    color: white;
    background-color: black;
    letter-spacing: normal;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: white;
}
ol,
ul {
    list-style: none;
    color: white;
}
a:hover {
    color: red;
}
h2 {
    margin: 0.5em;

}
main {
    margin-bottom: 0.5em;
}
/*--------------------------------------HEADER-------------------------------------------------------*/
header {
    display: flex;
    flex-direction: row;
    margin: 1em;
}
.lengua {
    width: 20vw;
}
.lengua:hover {
    width: 22vw;
}
.nav__header {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    font-size: 1.3rem;
}
h1 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 120%;
}
.h1__stones {
    font-size: 4.4rem;
}
p {
    margin: 0.5em;
}
/*------------------------------------------------INDEX MAIN----------------------------------------------*/
.main__index {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.noticias__destacadas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    color: black;
    width: 90vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}
.contenedor__img-destacada {
    margin: 0.5em;
    overflow: hidden;
}
h2 {
    align-self: flex-start;
}
.img__destacada {
    width: 100%;
    height: 50%;
    overflow: hidden;
}
h3 {
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-weight: bold;
}

/*------------------------------- NOTICIAS SECUNDARIAS INDEX-------------------------------------*/
.secccion__notis-secundarias {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 23px;
    flex-wrap: wrap;
}

.noticia__secundaria{
width: 250px;
height: 350px;
overflow: hidden;
font-weight: 700;
}
.img__secundaria {
    width: 100%;
    height: 50%;
}
h4 {
    margin: 0.5em 0.5em 0.5em 0.5em;
}

/*--------------------------------------FOOTER-----------------------------------------------------------*/
footer {
    display: flex;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.redes__footer {
    display: flex;
    gap: 1em;
}

.img-redes {
    width: 30px;
}

/*----------------------------------------------PAGES-------------------------------------------------*/
.discografia {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.img_discos {
    width: 200px;
    height: 200px;
}
.formulario__contacto {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}
.mensaje__formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
}
.encabezado__audiovisual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.audiovisual__secundario {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}
.video_encabezado {
    max-width: 100%;
    max-height: 100%;
}
.img_historia {
    width: 85%;
}
.historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.article_historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.subtitulos_historia {
    align-self: flex-start;
    padding-left: 0.5em;
}
/*----------------------------------CARUSEL - SECTION INTEGRANTES-----------------------------------*/
.img__carusel {
    height: 450px;
}
.parrafo__carusel {
    font-size: 0.7rem;
    align-self: center;
    text-align: justify;
}
.titulo_carusel {
    text-align: left;
}
/*-------------------------------------------QUERIS-------------------------------------------------*/

@media (min-width: 600px) {
    h2 {
        margin: 1em;
    }
    main {
        margin-bottom: 1em;
    }
/*-----------------------------------HEADER TABLETS QUERIS-----------------------------*/
    header {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-content: center;

    }
    .lengua {
        width: 25vw;
    }
    .lengua:hover {
        width: 27vw;
    }
    .nav__header {
        display: flex;
        flex-direction: column;
        padding-left: 0.5em;
        font-size: 2.3rem;
    }
    h1 {
        font-size: 3.5rem;
        text-align: center;
        line-height: 120%;
    }
    .h1__stones {
        font-size: 6rem;
    }
    p {
        margin: 1em;
    }
/*-----------------------------------------QUERIS - TABLETS MAIN------------------------------------*/
.secccion__notis-secundarias {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.noticia__secundaria{
width: 180px;
height: 280px;
overflow: hidden;
font-weight: 700;
}

/*--------------PAGES-----------*/
.formulario__contacto {
    font-size: 2rem;
}
.input_formulario {
    width: 20em;
    height: 2.3em;
    font-size: 1.5rem;
}
.textarea__formulario {
  font-size: 1.5rem;
}
/*------------- QUERIS - TABLETS FOOTER--------------*/
.img-redes {
    margin-top: 1em;
    width: 50px;
}
.contacto_footer {
    font-size: 2rem;
    margin-right: 0.5em;
}
/*------------CARUSEL - SECTION INTEGRANTES--------------------*/
.img__carusel {
    height: 650px;
}
.parrafo__carusel {
    font-size: 1rem;
    align-self: center;
    text-align: justify;
}
.titulo_carusel {
    text-align: left;
}

}
/*-----------------------------------------QUERIS - PC HEADER------------------------------------*/
@media (min-width: 1200px) {
   header {display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100vw;
        }    
    .lengua {
        width: 15vw;
    }
    .lengua:hover {
        width: 17vw;
    }
    .nav__header {
        display: flex;
        flex-direction: row;
        padding-left: 1em;
        font-size: 3rem;
        gap: 0.5em;
        margin-right: 1em;
    }
    h1 {
        font-size: 4rem;
        text-align: center;
        line-height: 120%;
    }
    .h1__stones {
        font-size: 7rem;
    }
    p {
        margin: 0.5em;
        font-size: 1em;
    }
/*-----------------------------------------QUERIS - PC MAIN------------------------------------*/
.main__index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticias__destacadas{
    display: flex;
    background-color: white;
    align-items: baseline;
    justify-content: center;
    color: black;
    font-size: 1rem;
    flex-wrap: wrap;
}
.tarjeta__notis{
    width: 500px;
    height: 500px;
    border: solid 20px white;

}

h2 {
    align-self: flex-start;
    font-size: 3rem;
}
.img__destacada {
    width: 100%;
    height: 60%;
    overflow: hidden;
}
h3 {
    align-self: flex-start;
    font-size: 2rem;
    margin-left: 0em;
}

/*------------------------------------QUERIS NOTICIAS SECUNDARIAS---------------------*/

.noticia__secundaria{
    width: 380px;
    height: 600px;
    overflow: hidden;
    font-weight: 700;
    }
h4 {
    font-size: 2.5rem;
}
p {
    font-size: 1.5rem;
}
.secccion__notis-secundarias {
    height: 600px;
}
/*-------------PAGES-------------*/
.submit_formulario {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}
.input_formulario {
    width: 12em;
    height: 1.3em;
    font-size: 2rem;
}
.textarea__formulario {
    width: 87vw;
  }


/*----------------------------------QUERIS - PC FOOTER----------------------------------------------*/
.img-redes {
    margin-top: 2em;
    width: 100px;
}
.contacto_footer {
    font-size: 5rem;
    margin-right: 1em;
}

/*----------------------------------CARUSEL - SECTION INTEGRANTES-----------------------------------*/
.img__carusel {
    height: 650px;
}
.parrafo__carusel {
    font-size: 1.3rem;
    align-self: center;
    text-align: justify;
}
.titulo_carusel {
    text-align: left;
}
}